---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PostCard from "@/components/PostCard.astro";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());
---

<Layout title="Все публикации">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl dark:text-neutral-100">Публикации</h1>

    <article class="flex flex-col gap-4">
      {
        posts.map((post) => post.data.isPublish && (
          <PostCard title={post.data.title} publishedAt={post.data.publishedAt} description={post.data.description} slug={post.slug} tags={post.data.tags}/>
        ))
      }
    </article>
  </main>
</Layout>
