---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"
import Layout from "@/layouts/Layout.astro";
import MarkdownIt from "markdown-it";

import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const tils = await getCollection("tils");

  return tils.map((til) => ({
    params: { slug: til.slug },
    props: { til },
  }));
}

type Props = {
  til: CollectionEntry<"tils">;
};

const { til } = Astro.props;
const { Content } = await til.render();


const parser = new MarkdownIt();
---

<Layout title={til.data.title} type="til" description={til.data.brief}>
  <main class="post md:mx-auto flex w-full md:max-w-full p-5 flex-col gap-4">
    <header role="presentation" class="flex flex-col items-center">
      <h1>
        {til.data.title}
      </h1>
      <hr/>
      <div class="flex gap-2 items-center">
        <p class="date">
          {formatDate(til.data.publishedAt)}
        </p>
        <div>
          {til.data.tags.map((tag) => (
            <span class="tag">
              {tag}
            </span>
          ))}
        </div>
      </div>
    </header>

    <div class="description">
      <div set:html={parser.render(til.data.brief)} />
    </div>

    <Content />
  </main>
</Layout>
