---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import "@/styles/til.css";
import TilCard from "@/components/TilCard.astro";

const tils = (await getCollection("tils"))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());
---

<Layout title="TIL">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl dark:text-neutral-100">TIL — Сегодня я узнал</h1>

    <article class="flex flex-col gap-4">
      {
        tils?.length > 0 &&
          tils.map((til) => {
            return (
              <!--<div class="til-card">
                <div class="header">
                  <div class="header-left">
                    <h2 class="text-lg">{til.data.title}</h2>
                    <div>
                      {til.data.tags.map((tag) => (
                        <span class="tag">
                          {tag}
                        </span>
                      ))}
                    </div>
                  </div>
                  <div class="header-right">
                    <p>{formatDate(til.data.publishedAt)}</p>
                  </div>
                </div>

                <div class="description">
                  <div set:html={parser.render(til.data.brief)} />
                </div>

                <div class="links">

                  <a class="readmore" href={`/til/${til.slug}`}>
                      Читать больше
                  </a>

                  {til.data.source && (
                      <a
                        href={til.data.source}
                        class="text-orange-500 underline"
                        target="_blank"
                      >
                        <div class="flex gap-2">
                          <ExternalLink/>
                          {new URL(til.data.source).hostname}
                        </div>
                      </a>
                    )}

                </div>

              </div>-->

              <TilCard
                title={til.data.title}
                brief={til.data.brief}
                publishedAt={til.data.publishedAt}
                slug={til.slug}
                tags={til.data.tags}
              />
            );
          })
      }
    </article>
  </main>
</Layout>
