---
import Layout from "@layouts/Layout.astro";
import CVHeader from "@components/CVHeader.astro";
import CVSection from "@components/CVSection.astro";
import CVTimeline from "@components/CVTimeline.astro";
import CVSkills from "@components/CVSkills.astro";
import CVContact from "@components/CVContact.astro";
import type { CVData } from "@type/cv";
import { personalInfo, contactInfo, workExperience, education, skills } from "@data/cv.en.json";

const typedContactInfo = contactInfo as CVData['contactInfo'];

---

<Layout title="CV">
  <div>
    <CVHeader data={personalInfo} />

    <div>
      <div>
        <CVSection title="Work Experience">
          <CVTimeline items={workExperience} locale={"en-US"} />
        </CVSection>

        <CVSection title="Education" pageBreakBefore>
          <CVTimeline items={education} locale={"en-US"} />
        </CVSection>

        <CVSection title="Skills">
          <CVSkills categories={skills} />
        </CVSection>
      </div>

      <div>
        <CVSection title="Contact">
          <CVContact contacts={typedContactInfo} />
        </CVSection>
      </div>
    </div>
  </div>
</Layout>