---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"
import Layout from "@/layouts/Layout.astro";
import { convertToTag } from "@/utils/convertToTag";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title} type="project" slug={project.slug}>
  <main class="post md:mx-auto flex w-full max-w-prose md:max-w-full p-5 flex-col gap-4">
    <header role="presentation" class="flex flex-col items-center">
      <h1>
        {project.data.title}
      </h1>
      <hr/>
      <div class="flex sm:flex-col md:flex-row items-baseline flex-wrap gap-1 justify-center">
        {project.data.tags.map((tag) => (
            <a class="tag no-underline" href={`/projects/tags/${convertToTag(tag)}`}>
              {tag}
            </a>
        ))}
      </div>
    </header>

    <Content />
  </main>
</Layout>
