---
import MainLayout from "@/layouts/MainLayout.astro";
import presentation from "@/data/presentation";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import Image from "@/components/Image.astro";
import avatar from "@/assets/avatar.jpg";
import SocialLinks from "@/components/social-links/SocialLinks.astro";
---

<MainLayout>
  <main>
    <div class="section">
      <div class="section__text">
        <h1 class="section__title">{presentation.title}</h1>
        {
          presentation.description.map((line) => (
            <p
              class="section__description"
              set:html={convertAsteriskToStrongTag(line)}
            />
          ))
        }

        <h1 class="section__title">Контакты</h1>
        <SocialLinks socials={presentation.socials}/>
      </div>
      <div class="section__avatar">
        <Image
          src={avatar}
          class="section__avatar-image"
          withCaption={false}
          alt="Аватар"
        />
      </div>
    </div>
    <div class="section">
      <h1 class="section__title">Активные проекты</h1>
    </div>
    <div class="section">
      <h1 class="section__title">Последние посты</h1>
    </div>
  </main>
</MainLayout>
