---
import { getPosts } from '../utils'
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import avatar from '../assets/images/avatar.jpg'
import { AstroComponentInstance } from 'astro/dist/runtime/server'
import GithubIcon from '@/components/icons/GithubIcon'
import TelegramIcon from '@/components/icons/TelegramIcon'
import MailIcon from '@/components/icons/MailIcon'
import ListPosts from '../components/ListPosts.astro'

type Contact = {
	label: String
	link: String
	icon: AstroComponentInstance
}

const CONTACTS = [
	{
		label: 'Github',
		link: 'https://github.com/dadyarri',
		icon: GithubIcon
	},
	{
		label: 'Telegram',
		link: 'https://t.me/dadyarri',
		icon: TelegramIcon
	},
	{
		label: 'Электропочта',
		link: 'mailto:me@dadyarri.ru',
		icon: MailIcon
	}
] as Contact[]

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = (await getPosts(MAX_POSTS)).filter((e) => e.data.category == 'Посты')

const projects = (await getPosts(MAX_POSTS)).filter((e) => e.data.category == 'Проекты')
---

<BaseLayout title='Сайт'>
	<h2 class='text-3xl'>Салют, Я &mdash; Даниил <span class='hidden md:inline'>👋</span></h2>
	<div class='flex flex-row justify-between'>
		<div class='flex flex-col flex-wrap justify-evenly'>
			<p>
				Я бэкенд-разработчик, специализирующийся на .NET. Работаю в <strong
					class='dark:text-blue-400 text-blue-500'>&#x00AB;Системы и Технологии&#x00BB;</strong>
			</p>
			<p>Живу во Владимире, Россия</p>
		</div>
		<div class='hidden md:flex flex-col'>
			<Image alt='avatar' src={avatar} width={200} height={200} class='rounded-full object-cover' />
		</div>
	</div>

	<div class='flex justify-between'>
		<h2 class='text-3xl'>Контакты</h2>
		<a class='border-b-2 border-black dark:border-white border-dashed' href='/blog'
			>Все публикации</a
		>
	</div>

	<ul class='flex flex-col gap-2 md:flex-row'>
		{
			CONTACTS.map((contact, index) => (
				<>
					<li class='flex flex-row gap-1 items-center'>
						<contact.icon class:list='w-6' />
						<a href={contact.link}>{contact.label}</a>
					</li>
					{CONTACTS.length - 1 !== index && <li class='hidden md:inline-block'>/</li>}
				</>
			))
		}
	</ul>

	<h2 class='text-3xl'>Публикации</h2>

	<ListPosts FirstBig={false} posts={posts} />

	<h2 class='text-3xl'>Проекты</h2>

	<ListPosts FirstBig={false} posts={projects} />
</BaseLayout>
