---
import { getCollection } from 'astro:content';
import MainLayout from '@/layouts/MainLayout.astro';
import presentation from '@/data/presentation';
import convertAsteriskToStrongTag from '@/utils/convertAsteriskToStrongTag';
import Image from '@/components/shared/Image.astro';
import avatar from '@/assets/avatar.jpg';
import SocialLinks from '@/components/social-links/SocialLinks.astro';
import { Icon } from 'astro-icon/components';
import Link from '@/components/shared/link/Link.astro';
import ContentCard from "@/components/content/card/ContentCard.astro";

const posts = (await getCollection('posts'))
    .filter((p) => p.data.published)
    .sort(
        (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime(),
    );
const projects = await getCollection('projects');
---

<MainLayout>
    <main>
        <div class="hero">
            <div class="hero__text">
                <h1 class="section__title">{presentation.title}</h1>
                {
                    presentation.description.map((line) => (
                        <p
                            class="section__description"
                            set:html={convertAsteriskToStrongTag(line)}
                        />
                    ))
                }

                <h1 class="section__title">Контакты</h1>
                <SocialLinks socials={presentation.socials} />
            </div>
            <div class="hero__avatar">
                <Image
                    src={avatar}
                    class="hero__avatar-image"
                    withCaption={false}
                    alt="Аватар"
                />
            </div>
        </div>
        <div class="section">
            <div class="section__header">
                <h1 class="section__title">
                    Активные проекты (всего {projects.length})
                </h1>
                <Link
                    href="/projects"
                    label="Все проекты"
                    isUnderline={true}
                    target="_self"
                />
            </div>
            <div class="section__content">
                {
                    projects.map(
                        (project) =>
                            !project.data.deprecated && (
                                <ContentCard {...project.data} slug={project.slug}/>
                            ),
                    )
                }
            </div>
        </div>
        <div class="section">
            <div class="section__header">
                <h1 class="section__title">
                    Последние посты (всего {posts.length})
                    <a href="/rss.xml">
                        <Icon name="mdi:rss-box" class="w-8" title="rss" />
                    </a>
                </h1>
                <Link
                    href="/posts"
                    label="Все публикации"
                    isUnderline={true}
                    target="_self"
                />
            </div>
            <div class="section__content">
                {
                    posts
                        .slice(0, 2)
                        .map((post) => (
                            // <PostCard {...post.data} slug={post.slug} />
                            <li>{post.data.title}</li>
                        ))
                }
            </div>
        </div>
    </main>
</MainLayout>
