---
import { Icon } from "astro-icon/components";
import { socials } from "@data/socials.json";
import { getCollection } from "astro:content";

const categroies = await getCollection("categories");
---

<header>
    <div class="main">
        <a href="/">dadyarri</a>
        <div class="socials">
            {
                socials.map((social) => (
                    <a
                        href={social.href}
                        aria-label={social.label}
                        class="social"
                    >
                        <Icon name={social.icon} width={20} />
                    </a>
                ))
            }
        </div>
    </div>
    <nav>
        {
            categroies
                .sort((a, b) => a.data.order - b.data.order)
                .map((category) => (
                    <a href={`/${category.id}`}>{category.data.label}</a>
                ))
        }
    </nav>
</header>

<style lang="scss">
    
</style>
