---
import PaginationItem from "./PaginationItem.astro";
import PaginationItemNext from "./PaginationItemNext.astro";
import PaginationItemPrev from "./PaginationItemPrev.astro";

type Props = {
    currentPage: number;
    pagesAmount: number;
    category: string;
};

const { pagesAmount, category, currentPage } = Astro.props;
---

{
    pagesAmount > 1 && (
        <div class="pagination">
            {currentPage > 1 && (
                <PaginationItemNext
                    page={currentPage - 1}
                    category={category}
                />
            )}
            {Array.from({ length: pagesAmount }, (_, i) => i + 1).map(
                (page) => (
                    <PaginationItem
                        currentPage={currentPage}
                        page={page}
                        category={category}
                    />
                ),
            )}
            {currentPage < pagesAmount && (
                <PaginationItemPrev
                    page={currentPage + 1}
                    category={category}
                />
            )}
        </div>
    )
}
