---
import PaginationItem from "./PaginationItem.astro";

type Props = {
    currentPage: number;
    pagesAmount: number;
    category: string;
};

const { pagesAmount, category, currentPage } = Astro.props;
---

{
    pagesAmount > 1 && (
        <div class="pagination">
            {currentPage > 1 && (<PaginationItem
                currentPage={currentPage}
                page={currentPage - 1}
                category={category}
                icon={"carbon:chevron-left"}
            />)}
            {Array.from({ length: pagesAmount }, (_, i) => i + 1).map(
                (page) => (
                    <PaginationItem
                        currentPage={currentPage}
                        page={page}
                        category={category}
                    />
                ),
            )}
            {currentPage < pagesAmount && (<PaginationItem
                currentPage={currentPage}
                page={currentPage + 1}
                category={category}
                icon={"carbon:chevron-right"}
            />)}
        </div>
    )
}

<style lang="scss">
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
</style>
