---
import formatDate from "@/utils/formatDate";
import ExternalLink from "./shared/ExternalLink.astro";
import type { Post } from "@/data/posts";

type Props = Post;

const { title, publishedAt, description, slug, tags } = Astro.props;
---

<a
  class="group flex cursor-pointer flex-col gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400"
  href={`/posts/${slug}`}
>
  <div
    class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center"
  >
    <div class="flex sm:flex-col md:flex-row flex-wrap items-center gap-2">
      <p class="dark:text-neutral-100">{title}</p>
      <div class="flex md:flex-row items-baseline flex-wrap gap-1">
        {tags.map((tag) => (
          <span class="tag">
            {tag}
          </span>
        ))}
      </div>
    </div>
    <div class="flex flex-row items-center gap-4">
      <p>{formatDate(publishedAt)}</p>

      <ExternalLink/>
    </div>
  </div>

  {description}
</a>
