---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import type { RenderedContent } from "astro:content";
import { splitArrayByElement } from "@utils/data";
import PostInfo from "./PostInfo.astro";

type Props = {
    post: CollectionEntry<"posts">;
};

type ModifiedFrontmatter = {
    readingTime: number;
};

const { post } = Astro.props;
const path = `/${post.collection}/${post.id}`;

const rendered = post.rendered as RenderedContent;
const readingTime = (rendered.metadata?.frontmatter as ModifiedFrontmatter)
    .readingTime;

const preview = splitArrayByElement(
    post.rendered?.html.split("\n")!,
    "<!--more-->",
).preview.join("");
---

<div class="card">
    <div class="card-content">
        <div class="card-link">
            <a href={path}>{post.data.title}</a>
        </div>
        <PostInfo post={post}/>
        <div class="card-description" set:html={preview} />
    </div>
    <a class="card-button" href={path}>
        <Icon name="fa6-solid:chevron-right" />
    </a>
</div>

<style lang="scss">
    .card {
        min-height: 100px;
        background: var(--bg-1);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        overflow: hidden;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card-link {
        font-family: var(--header-font);
        font-weight: 700;
        font-size: 1.5rem;
        margin: 20px 0;

        & a {
            border-bottom: none;
        }

        &:hover {
            background-color: unset;
            color: unset;
        }
    }

    .card-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius);
        background-color: var(--bg-2);
        min-width: 50px;
        margin-left: 10px;

        & svg {
            fill: var(--text-1);
        }
    }

    @media (max-width: 650px) {
        .card {
            flex-direction: column;
        }

        .card-button {
            width: 100%;
            height: 30px;
            margin-left: 0;
        }
    }
</style>
