---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import { Icon } from 'astro-icon'

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content,remarkPluginFrontmatter } = await post.render();
---

<Layout title={post.data.title} type="post" slug={post.slug}>
  <main
    class="post md:mx-auto flex w-full max-w-prose md:max-w-full p-5 flex-col gap-4"
  >
    <header role="presentation">
      <h1>
        {post.data.title}
      </h1>
      <hr />
      <div class="flex gap-2 items-center justify-center">
        <div class="flex flex-col gap-3">
          <div class="flex sm:flex-col md:flex-row items-baseline flex-wrap gap-1 justify-center">
            {post.data.tags.map((tag) => (
              <span class="tag">
                {tag}
              </span>
            ))}
          </div>
          <div class="flex flex-row gap-2">
            <Icon name="mdi:calendar" class="w-5"/>
            <p class="date">
              {formatDate(post.data.publishedAt)}
            </p>
            <p>|</p>
            <div class="flex gap-1">
              <Icon name="mdi:clock" class="w-5"/>
              <p>{remarkPluginFrontmatter.minutesRead} минут</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <Content />
  </main>

  <script
    src="https://utteranc.es/client.js"
    repo="dadyarri/portfolio"
    issue-term="pathname"
    label="comments"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async
  ></script>
</Layout>
