---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

import type { CollectionEntry } from "astro:content";
import ProjectCard from "@/components/ProjectCard.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    let allTags: string[] = [];

    projects.forEach((article) => {
        allTags = allTags.concat(article.data.tags);
    });

    const tags = [...new Set(allTags)].map((tag) =>
        tag.toLowerCase().replace(" ", "-").replace("#", "sharp"),
    );

    const getProjectsByTag = (
        projects: CollectionEntry<"projects">[],
        targetTag: string,
    ) => {
        targetTag = decodeURIComponent(targetTag)
            .toLowerCase()
            .replace("-", " ")
            .replace("sharp", "#");
        return projects.filter((article) => {
            const f = article.data.tags.some(
                (tag: string) =>
                    decodeURIComponent(tag).toLowerCase() === targetTag,
            );

            return f;
        });
    };

    return tags.map((tag) => {
        return {
            params: { tag: tag },
            props: {
                projects: getProjectsByTag(projects, tag),
                tag: tag.replace("-", " ").replace("sharp", "#"),
            },
        };
    });
}

type Props = {
    projects: CollectionEntry<"projects">[];
    tag: string;
};

const { projects, tag } = Astro.props;
---

<Layout title={`Все проекты с тегом ${tag}`}>
    <main class="flex flex-col gap-20">
        <h1 class="text-2xl dark:text-neutral-100">Проекты с тегом {tag}</h1>

        <article class="flex flex-col gap-4">
            {
                projects.map((project) => (
                    <ProjectCard
                        title={project.data.title}
                        description={project.data.description}
                        tags={project.data.tags}
                        subpage={project.data.subpage}
                        deprecated={project.data.deprecated}
                        slug={project.slug}
                    />
                ))
            }
        </article>
    </main>
</Layout>
